<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto_Tracking_Monitor-DASHBOARD</title>
</head>
<body>
    <P>WELCOME: {{ user }} DASHBOARD</P>
    {% if cryptocurrencies %}
      {% for crypto in cryptocurrencies %}
        <p>{{ crypto.name }}</p>
        <p>{{ crypto.symbol }}</p>
        <p>{{ crypto.price }}</p>
      {% endfor %}
    {% else %}
      <p>You haven't created a portfolio yet!</p>
    {% endif %}
  </body>
</html>